body {
  background: linear-gradient(90deg, rgba(156,255,251,1) 0%, rgba(238,255,167,1) 35%, rgba(150,255,158,1) 100%);
}

.sticky {
    position: sticky;
    top: 0;
    background-color: #ffffff;
    z-index: 100;
  }

  h1 {
    font-family : "-moz-initial" ;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
  }
  
  li {
    float: left;
  }
  
  li a{
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #dcdbff;
  }
  
  li a.active {
    color: white;
    background-color: #6345e7;
  }

  .h1-profile{
    font-size : 25px; 
    text-align : left;
    margin-left : 20px  ;
    margin-bottom : 0px;
  }

  .text-22{
    font-size: 22px;
    font-family:Arial, Helvetica, sans-serif;
  }

  .sign-out-button {
    float: right; 
    margin-top: 1px;
    margin-right: 5px;
    margin-bottom: 1px;
  }
  
  .sign-out-button .sign-button {
    background-color: #ff5733; 
    color: white; 
    border: none; 
    padding: 10px 20px; 
    border-radius: 5px; 
    cursor: pointer; 
    font-size: 16px; 
    transition: 0.1s ease-in-out;
  }
  
  .sign-out-button .sign-button:hover {
    background-color: #c52906;
  }

  .timer-sticky{
    float: right;
  }

  @media (max-width : 578px) {
    h1{
      font-size: 20px;
    }
  }

  @media (max-width : 398px) {
    h1{
      font-size: 18px;
    }
  }

.navbar-link {
  display: flex;
  align-items: center;
}

.navbar-link .text {
  display: none;
  margin-left: 10px;
}

@media (min-width: 535px) {
  .navbar-link .text {
    display: inline;
  }
}

  .info-icon {
    position: relative;
    cursor: pointer;
  }
  
  .info-tooltip {
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #333;
    color: #fff;
    padding: 4px;
    border-radius: 5px;
    font-size: 12px;
    white-space: nowrap;
  }
  
  .info-icon:hover .info-tooltip {
    opacity: 1;
  }
  

.proper-profile{
  display: flex;
  justify-content: space-between;
}