.registration-form {
    max-width: 400px;
    margin: 0 auto;
    margin-top: 80px;
    padding: 20px;
    border: 1px solid #000000;
    border-radius: 5px;
    background-color: #cbfdc9;
  }
  
  .h2-heading {
    text-align: center;
    margin-bottom: 20px;
  }

  .h3-heading{
    font-size: medium;
  }
  
  .form-group {
    margin-bottom: 25px;
    position: relative;
  }

  .reg-input-fields{
    width: 90%;
    padding: 10px;
    border: 1px solid #4c518f;
    outline: 0;
    border-radius: 5px; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
  }

  input[type="password"] {
    flex: 1;
  }
  
  .error {
    margin-top: 4px;
    font-size: 11px;
    color: rgba(241, 16, 16, 0.74);
    font-weight: bold;
    position: absolute;
    text-align: left;
    margin-left: 15px;
  }

  .button-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 35px;
  }

  .password-input-container{
    position: relative;
  }

  .password-toggle-button{
    cursor: pointer;
    position: absolute;
    top: 51%;
    right: 10px;
    transform: translateY(-52%) ;
    background-color : #e1f5f4;
    color : rgb(1, 0, 10);
    border-radius: 3px;
    transition: all 0.5s;
    padding: 10px 20px;
    border: none;
    font-size: 13px;
  }

  .button-submit-login {
    width: 140%;
    padding: 10px;
    margin-left: 15px;
    background-color: #049445;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    margin-bottom: 10px;

    &:hover{
      background-color: #063f1c;
    }
  }

  .button-submit-register {
    width: 90%;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #049445;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    margin-bottom: 10px;

    &:hover{
      background-color: #063f1c;
    }
  }

  .button-button-login {
    width: 140%;
    padding: 10px;
    margin-right: 5px;
    background-color: #ce7b10;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    margin-bottom: 10px;
    
    &:hover{
      background-color: #8b4f09;
    }
  }

  @media (max-width: 768px) {
    .button-button-login,
    .button-submit-login{
    width: 140%;
    margin-right: 10; 
  }
}
  
  @media (max-width: 400px){
    .password-toggle-button{
      right: 7px;
    }
  }

  @media (max-width: 327px){
    .password-toggle-button{
      right: 3px;
    }
  }

  @media (max-width: 284px){
    .password-toggle-button{
      right: 1px;
    }

    .button-button-login,
    .button-submit-login{
    width: 120%;
    margin-right: 10; 
  }
  }